<ion-view title="Firebase">
<ion-content>
<div class="">
	<div class="list list-inset">
		<label class="item item-input">
			<input placeholder="nombre de usuario" ng-model="username" type="text" >
		</label>
		<label class="item item-input">
			<input placeholder="contraseña de usuario" ng-model="password" type="password" >
		</label>
	</div>
	<div class="padding-left padding-right">
		<div class="button-bar">
			<button class="button" ng-click="loggin(username,passsword)"></button>
		</div>
	</div>
</div>
</ion-content>
</ion-view>